<ion-card>
	<ion-card-header>{{ data.street }}</ion-card-header>
	<ion-list>
  		<ion-item>{{ 'result.city' | translate }}: {{ data.city }}</ion-item>
  		<ion-item>{{ 'result.state' | translate }}: {{ data.state }}</ion-item>
  		<ion-item>{{ 'result.zipcode' | translate }}: {{ data.cep }}</ion-item>
	</ion-list>
</ion-card>
